$base-font: 		"Lucida Sans Unicode", "Lucida Grande", sans-serif;

$body-background:   #ffffff;
$color_body:        #1f0318;
$color_links:       #36558f;
$color_border:      rgba(31, 3, 24, 0.05);
$color_woocommerce: #c6dea6;
$error:             #ef476f;
$success:           #c6dea6;
$info:              #36558f;